#app {
  width: 300px;

  > div {
    font-size: 14px;

    > div:nth-child(1) {
      margin: 6px;
    }

    > div:nth-child(2) {
      display: flex;
      width: 100%;
      margin-bottom: 5px;

      > select {
        width: 50%;
      }
    }
  }
}
